<!doctype html>
<html ng-app="bookSwapp">
<head>
  <title>BookSwapp</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet" type="text/css">

  <!-- dependencies: bootstrap, angular, fonts -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Angular UI for Bootstrap -->
  <script src="js/ui-bootstrap.min.js"></script>

  <!-- Our app source -->
  <script src="js/app.js"></script>
</head>

<body ng-controller="homeCtrl">

  <!-- Top navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-book"></span> BookSwapp</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" ng-click="">Home</a></li>
          <li><a href="#" ng-click="">About</a></li>
          <li><a href="#" ng-click="">Register</a></li>
          <li><a href="#" ng-click="">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Rest of page -->

</body>

</html>
