{% extends "base.html" %}
{% block content %}
  <!-- Rest of the page -->
  <div class="container">
      <pre><code>{{ todo }}</code></pre>

      <h4>Add book listing</h4>
      <form action="/api/books/create" method=POST>
        Name <input type="text" name="name"><br>
        Author <input type="text" name="author"><br>
        ISBN <input type="text" name="isbn"><br>
        Course <input type="text" name="prescribed_course"><br>
        Edition <input type="text" name="edition"><br>
        Condition<!--<input type="text" name="condition"><br>-->
        <select name="condition">
          <option value="5">As new (5)</option>
          <option value="4">Great (4)</option>
          <option value="3">Good (3)</option>
          <option value="2">Fair (2)</option>
          <option value="1">Poor (1)</option>
        </select><br>
        Transaction<!--<input type="text" name="transaction_type"><br>-->
        <select name="transaction">
          <option value="1">Buying</option>
          <option value="2">Selling</option>
          <option value="3">Trading</option>
        </select><br>
        Status<!--<input type="text" name="status"><br>-->
        <select name="status">
          <option value="1">Available</option>
          <option value="2">Pending</option>
          <option value="3">Sold</option>
        </select><br>
        Price <input type="text" name="price"><br>
        Margin <input type="text" name="margin"><br>
        Description <input type="text" name="description"><br>
        <input type="submit" value="Submit">
      </form>
      <br>
      <h4>Update user details</h4>
      <form action="/api/user/update/{{ userid }}" method=POST>
        Email<input type="text" name="email"><br>
        Password<input type="password" name="password"><br>
        University<input type="text" name="university"><br>
        Location<input type="text" name="location"><br>
        <input type="submit" value="Submit">
      </form>

    <!-- Display any returned error/flashed errors from last call -->
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    <!-- Breadcrumbs -->
    <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item active">Selling</li>
      <li class="breadcrumb-item"><a href="#">Wanted</a></li>
      <li class="breadcrumb-item"><a href="#">Swap</a></li>
    </ol>

    <!-- Main table -->
    <table class="table table-bordered table-hover">
      <thead class="table-head">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Price</td>
          <td>Location</td>
          <td>Type</td>
        </tr>
      </thead>
      <!-- Fill in db info -->
      <tbody>
        <tr ng-repeat="listing in listings">
          <td>[[ listing.id ]]</td>
          <td>[[ listing.name ]]</td>
          <td>$[[ listing.price | number : 2 ]]</td>
          <td>[[ listing.location ]]</td>
          <td>[[ listing.type ]]</td>
        </tr>

      </tbody>
    </table>
    <table class="table table-bordered table-hover">
          <thead class="table-head">
            <tr>
              <td>User #</td>
              <td>Email</td>
              <td>Password</td>
              <td>University</td>
              <td>Location</td>
            </tr>
          </thead>
          <!-- Fill in db info -->
          <tbody>
            <tr ng-repeat="user in users">
              <td>[[ user.user_id ]]</td>
              <td>[[ user.email ]]</td>
              <td>[[ user.password ]]</td>
              <td>[[ user.university ]]</td>
              <td>[[ user.location ]]</td>
            </tr>

          </tbody>
        </table>

  </div>
{% endblock %}

