{% extends "base.html" %}
{% block content %}
  <!-- Rest of the page -->
  <div class="container">
      <pre><code>{{ todo }}</code></pre>

    <!-- Display any returned error/flashed errors from last call -->
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    <!-- Breadcrumbs -->
    <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item active">Selling</li>
      <li class="breadcrumb-item"><a href="#">Wanted</a></li>
      <li class="breadcrumb-item"><a href="#">Swap</a></li>
    </ol>

    <!-- Main table -->
    <table class="table table-bordered table-hover">
      <thead class="table-head">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Price</td>
          <td>Location</td>
          <td>Type</td>
        </tr>
      </thead>
      <!-- Fill in db info -->
      <tbody>
        <tr ng-repeat="listing in listings">
          <td>[[ listing.id ]]</td>
          <td>[[ listing.name ]]</td>
          <td>$[[ listing.price | number : 2 ]]</td>
          <td>[[ listing.location ]]</td>
          <td>[[ listing.type ]]</td>
        </tr>

      </tbody>
    </table>
    <table class="table table-bordered table-hover">
          <thead class="table-head">
            <tr>
              <td>User #</td>
              <td>Email</td>
              <td>Password</td>
              <td>University</td>
              <td>Location</td>
            </tr>
          </thead>
          <!-- Fill in db info -->
          <tbody>
            <tr ng-repeat="user in users">
              <td>[[ user.user_id ]]</td>
              <td>[[ user.email ]]</td>
              <td>[[ user.password ]]</td>
              <td>[[ user.university ]]</td>
              <td>[[ user.location ]]</td>
            </tr>

          </tbody>
        </table>

  </div>
{% endblock %}

