{% extends "base.html" %}
{% block content %}
  <!-- Rest of the page -->
  <div class="container">
      <pre><code>{{ todo }}</code></pre>

    <!-- Display any returned error/flashed errors from last call -->
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
        {% include 'login.html' %}
    <!-- Breadcrumbs -->
    <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item active">Selling</li>
      <li class="breadcrumb-item"><a href="#">Wanted</a></li>
      <li class="breadcrumb-item"><a href="#">Swap</a></li>
    </ol>

    <!-- Main table -->
    <table class="table table-bordered table-hover">
      <thead class="table-head">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Price</td>
          <td>Location</td>
          <td>Type</td>
        </tr>
      </thead>
      <tbody>
        {% for item in userDict %}
        <tr>
            <td>{{ item }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
